@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway/Raleway-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url("../fonts/Raleway/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway/Raleway-Medium.eot");
  /* IE9 Compat Modes */
  src: local("Raleway-Medium"), local("Raleway Medium"), url("../fonts/Raleway/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway/Raleway-Medium.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.eot");
  /* IE9 Compat Modes */
  src: local("Roboto-Light"), local("Roboto Light"), url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  /* IE9 Compat Modes */
  src: local("Roboto-Medium"), local("Roboto Medium"), url("./fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto-Regular"), local("Roboto Regular"), url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik/Rubik-Regular.eot");
  /* IE9 Compat Modes */
  src: local("Rubik-Regular"), local("Rubik Regular"), url("../fonts/Rubik/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype"), url("../fonts/Rubik/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik/Rubik-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  color: #000000;
}

img {
  max-width: 100%;
}

.button {
  padding: 22px 48px;
  font-family: Rubik-Regular;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: none;
  border-radius: 24px;
  -webkit-transition: background-color 0.5s, border-color 0.5s, color 0.5s, linear-gradient 0.5s;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s, linear-gradient 0.5s;
  cursor: pointer;
}

.container {
  width: 1246px;
  margin: auto;
}

.main-header {
  position: relative;
  max-height: 636px;
  background-image: url("../img/header/Fon_video.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
}

.main-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.main-header__video-wrap {
  position: relative;
  width: 100%;
  min-height: 636px;
  height: 636px;
  overflow: hidden;
}

.main-header__video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.main-header__content {
  position: absolute;
  top: 122px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.main-header__logo {
  margin-bottom: 6px;
}

.main-header__title {
  min-width: 760px;
  margin: 0;
  margin-bottom: 18px;
  font-family: Raleway-ExtraBold;
  font-size: 45px;
  line-height: 59px;
  text-align: center;
  color: #ffffff;
}

.main-header__button {
  padding: 18px 44px;
  background-color: transparent;
  border: 4px solid #8EC716;
}

.main-header__button:hover {
  border-color: #ffffff;
  color: #8EC716;
}

.main {
  background-color: #ffffff;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.game-options__block {
  padding-top: 95px;
  padding-bottom: 90px;
}

.game-options__title {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Raleway-Medium";
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  color: #8EC716;
  text-transform: uppercase;
}

.game-options-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.game-options-card__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 6px solid #8EC716;
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.game-options-card__list-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.game-options-card__list-item-img-wrapper {
  position: relative;
}

.game-options-card__list-item-img-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 192px 45px 192px;
  border-color: transparent transparent #ffffff transparent;
}

.game-options-card__list-item-img {
  opacity: 0.52;
}

.game-options-card__title {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 9px;
  font-family: 'Rubik-Regular';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.game-options-card__subtitle {
  margin: 0;
  margin-bottom: 18px;
  font-family: 'Roboto-Medium';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.game-options-card__button {
  margin-bottom: 39px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8EC716), to(#4A9312));
  background: linear-gradient(180deg, #8EC716 0%, #4A9312 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(29, 146, 0, 0.18);
          box-shadow: 0px 4px 4px rgba(29, 146, 0, 0.18);
}

.game-options-card__button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#4A9312), to(#8EC716));
  background: linear-gradient(180deg, #4A9312 0%, #8EC716 100%);
  color: #212c1d;
}

.map__block {
  padding-bottom: 57px;
}

.advantages__block {
  padding-bottom: 90px;
}

.advantages__title {
  margin-bottom: 30px;
  font-family: 'Rubik-Regular';
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #8EC716;
  text-align: center;
  text-transform: uppercase;
}

.advantages-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-card__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 289px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
}

.advantages-card__list-item-img-wrapper {
  padding-top: 48px;
  padding-bottom: 13px;
}

.advantages-card__description {
  display: inline-block;
  padding-bottom: 57px;
  text-align: center;
  font-family: 'Rubik-Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.main-footer {
  padding-top: 61px;
  padding-bottom: 120px;
  background-color: #8EC716;
}

.main-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer-contacts {
  position: relative;
  width: 100%;
  max-width: 190px;
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.main-footer__phone {
  display: inline-block;
  margin-bottom: 9px;
  margin-left: -25px;
  color: #131313;
  text-decoration: none;
}

.main-footer__telegram {
  position: absolute;
  top: -6px;
  right: -10px;
}

.main-footer__mail {
  display: inline-block;
  margin-bottom: 14px;
  color: #131313;
  text-decoration: none;
}

.main-footer__map {
  display: inline-block;
  color: #131313;
  text-decoration: none;
}

.main-footer-copyrights {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 20px;
  width: 100%;
  max-width: 200px;
  text-align: right;
  font-family: 'Roboto-Light';
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #444444;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  top: 50px;
  margin: auto;
  padding: 55px 100px 55px 100px;
  max-width: 970px;
  width: 90%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(29, 146, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(29, 146, 0, 0.5);
}

.modal-dialog__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-dialog__close::before {
  top: 9px;
  left: -2px;
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #ACACAC;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-dialog__close::after {
  top: 9px;
  left: -2px;
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #ACACAC;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-dialog__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-dialog__caption {
  display: block;
  margin-bottom: 6px;
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #272727;
}

.input {
  margin-bottom: 23px;
  padding: 17px 15px;
  width: 100%;
  min-width: 370px;
  background: rgba(142, 199, 22, 0.53);
  border: none;
  border-radius: 10px;
}

.input::-webkit-input-placeholder {
  vertical-align: top;
}

.input:-ms-input-placeholder {
  vertical-align: top;
}

.input::-ms-input-placeholder {
  vertical-align: top;
}

.input::placeholder {
  vertical-align: top;
}

.brif__button {
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#8EC716), to(#4A9312));
  background: linear-gradient(180deg, #8EC716 0%, #4A9312 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(29, 146, 0, 0.18);
          box-shadow: 0px 4px 4px rgba(29, 146, 0, 0.18);
}

.brif__button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#4A9312), to(#8EC716));
  background: linear-gradient(180deg, #4A9312 0%, #8EC716 100%);
  color: #212c1d;
}

.comment {
  max-width: 769px;
  min-width: 769px;
  min-height: 150px;
  max-height: 150px;
  margin-bottom: 15px;
  overflow: auto;
}
/*# sourceMappingURL=style.css.map */