@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway/Raleway-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url("../fonts/Raleway/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway/Raleway-Medium.eot");
  /* IE9 Compat Modes */
  src: local("Raleway-Medium"), local("Raleway Medium"), url("../fonts/Raleway/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway/Raleway-Medium.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.eot");
  /* IE9 Compat Modes */
  src: local("Roboto-Light"), local("Roboto Light"), url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  /* IE9 Compat Modes */
  src: local("Roboto-Medium"), local("Roboto Medium"), url("./fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto-Regular"), local("Roboto Regular"), url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik/Rubik-Regular.eot");
  /* IE9 Compat Modes */
  src: local("Rubik-Regular"), local("Rubik Regular"), url("../fonts/Rubik/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype"), url("../fonts/Rubik/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik/Rubik-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  color: #000000;
}

img {
  max-width: 100%;
}

.button {
  padding: 22px 48px;
  font-family: Rubik-Regular;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 24px;
  -webkit-transition: background-color 0.5s, border-color 0.5s, color 0.5s;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;
  cursor: pointer;
}

.container {
  width: 1246px;
  margin: auto;
}

.main-header {
  position: relative;
  max-height: 636px;
  background-image: url("../img/header/Fon_video.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
}

.main-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.main-header__video-wrap {
  position: relative;
  width: 100%;
  min-height: 636px;
  height: 636px;
  overflow: hidden;
}

.main-header__video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.main-header__content {
  position: absolute;
  top: 122px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.main-header__logo {
  margin-bottom: 10px;
}

.main-header__title {
  margin: 0;
  margin-bottom: 18px;
  font-family: Raleway-ExtraBold;
  font-size: 45px;
  line-height: 59px;
  text-align: center;
  color: #ffffff;
}

.main-header__button {
  background-color: transparent;
  padding: 18px 44px;
  border: 4px solid #8EC716;
}

.main-header__button:hover {
  border-color: #ffffff;
  color: #8EC716;
}
/*# sourceMappingURL=style.css.map */