@media(max-width: 1300px)
  .container
    width: 960px
  .game-options
    &-card
      &__list
        &-item-img-wrapper
          width: 270px
          &::after
            border-width: 0 136px 30px 136px
        &-item:not(:last-child)
    &__block
      padding-top: 50px;
      padding-bottom: 50px;
    &-card
      &__title
        font-size: 15px
        line-height: 19px
      &__subtitle
        font-size: 12px
        line-height: 15px
  .advantages-card
    &__list-item
      max-width: 220px
      &-img-wrapper
        padding-top: 40px
    &__description
      max-width: 130px
      padding-bottom: 40px
@media(max-width: 1200px)
  .container
    width: 760px
  .main-header
    &__content
      top: 55px
    &__logo
      margin-bottom: 50px
    &__title
      font-size: 30px
      line-height: 39px
  .game-options
    &-card
      &__list
        justify-content: space-around
        margin-left: 40px
        margin-right: 40px
        &-item:not(:last-child)
          margin-bottom: 50px
  .advantages-card
    &__list
      justify-content: space-around
      &-item
        margin-bottom: 30px
        &-img-wrapper
          padding-top: 40px
      &__description
        max-width: 130px
        padding-bottom: 40px
  .modal
    &-dialog
      width: 40%
      &__form
        flex-direction: column
        align-items: center
        flex-wrap: nowrap
  .comment
    min-width: 370px
@media(max-width: 1000px)
  .main-header
    &__content
      top: 27px
    &__title
      font-size: 25px
      line-height: 33px
  .advantages-card
    &__list
      &-item
        &-img-wrapper
          max-width: 75px
          padding-top: 25px
      &__description
        padding-bottom: 37px
  .brif__input
    min-width: 0
  .comment
    min-height: 80px
    width: 212px
  .modal-dialog
    padding: 26px 0
  .modal-t
    &-thanks
      width: 500px
      height: 400px
      &__img-wrapper
        margin-top: 45px
        margin-bottom: 20px
@media(max-width: 768px)
  .container
    max-width: 580px
    width: 90%
  .main-header
    &__title
      font-size: 16px
      line-height: 20px
    &__video
      width: 110%
    &__music-button
      right: 50px
      bottom: 50px
      width: 50px
      height: 50px
  .game-options
    &__title
      margin-bottom: 11px
      font-size: 16px
      line-height: 19px
    &-card
      &__title
        font-size: 12px
        line-height: 14px
      &__subtitle
        width: 200px
        font-size: 9px
        line-height: 11px
        text-align: center
      &__button
        padding: 12px 17px
        font-size: 10px
        line-height: 12px
        margin-bottom: 21px
      &__list
        &-item-img-wrapper
          width: 205px
          &::after
            border-width: 0 102px 28px 102px
        &-item:not(:last-child)
            margin-bottom: 30px
  .map
    &__block
      padding-bottom: 58px
    &__frame
      width: 100%
      height: 250px
  .advantages
    &__block
      padding-bottom: 8px
    &__title
      margin-bottom: 11px
      font-size: 16px
      line-height: 19px
  .main-footer
    &__wrapper
      justify-content: space-around
  .modal-dialog
    width: 50%
@media(max-width: 576px)
  .main-header
    &__content
      width: 170px
    &__title
      width: 320px
    &__video
      width: 150%
    &__logo
      width: 100%
      margin-bottom: 77px
  .advantages-card
    &__list
      justify-content: center
      &-item
        max-width: 135px
        margin-left: 20px      
        margin-right: 20px      
        &-img-wrapper
          max-width: 51px
          padding-top: 15px
    &__description
      max-width: 80px
      padding-bottom: 18px
      font-size: 9px
      line-height: 11px
  .modal-dialog
    padding: 15px 0
    top: 10px
    &__caption
      font-size: 9px
      line-height: 11px
    &__close
      top: 10px
      right: 10px
      &::before, &::after
        top: 9px
        left: 5px
        width: 15px
  .brif
    &__input
      width: 180px
      padding: 6px 9px
      font-size: 9px
      line-height: 11px
    &__button
      font-size: 9px
      line-height: 11px
      padding: 10px 30px
  .modal-t-thanks
    width: 223px
    height: 205px
    &__img-wrapper
      width: 38px
      margin-top: 45px
      margin-bottom: 18px
    &__text,
    &__telegram
      font-size: 9px
      line-height: 11px
@media(max-width: 420px)
  .main-header
    &__music-button
      right: 25px
      bottom: 25px
  .advantages-card
    &__list
      justify-content: space-around
      &-item
        margin-left: 0
        margin-right: 0
        &-img-wrapper
  .main-footer
    padding-top: 38px
    padding-bottom: 0
    &__wrapper
      flex-direction: column
      align-items: center
    &__logo-wrapper
      width: 117px
      margin-bottom: 46px
    &-contacts
      max-width: 32%
      margin-bottom: 31px
      font-size: 10px
      line-height: 12px
    &__telegram
      top: -5px
      right: 0
      width: 21px
    &__phone
      margin-bottom: 14px
    &-copyrights
      max-width: 100px
      align-self: auto
      font-size: 10px
      line-height: 12px
      text-align: center
  .brif
    &__input
      margin-bottom: 9px
  .modal-dialog
    width: 226px
@media(max-width: 370px)
  .main-header
    &__video
      width: 210%
  .map
    &__block
      padding-bottom: 38px
    &__frame
      width: 100%
      height: 171px
  .advantages-card
    &__list
      justify-content: space-between
      &-item
        margin-bottom: 17px